/*@mixin imgframe {
    width: 100%;       
    height:232px;
    border:none;
    

}*/

/*Contenedor principal*/
.episodios{
    /*background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);*/
    background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    max-width: 1440px;
    height: 1042.6px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.7fr 0.7fr 1fr;
    clip-path: polygon(0 13%, 100% 2%, 100% 88%, 0 100%);
    position: relative;
    

           
    #titepisodes{
        width: 209px;
        height: 62px;
        margin-left: 150px;
        margin-top: 180px;
        color: #FFFFFF;
        font-size: 48px;
        font-family: 'IBM Plex Sans', sans-serif;
        grid-column: 1/3;
        grid-row: 1;
        
    }
        
        iframe{
            width: 100%;       
            height:232px;
            border:none;
            padding-left: 7.9%;
            padding-right: 7.9%;
            /*@include imgframe();*/
            min-width: 298px;  
            
            
        }      
            
        
    
    }

        
    
            
  

    


@media screen and (max-width: 573px)  /*532px*/
{
    
    .episodios{
                min-width: 320px;
                height: 1220px;
                clip-path: polygon(0 3%, 100% 0%, 100% 96%, 0 100%);
                display: flex;
                flex-direction: column;
                border: none;
                

                #titepisodes{
                    font-family:var(--secondary-font);
                    width: 157px;
                    height: 42px;
                    
                    margin-left: 5%;
                    margin-right: 5%;
                    margin-top:20%;
                    margin-bottom: 7%;
                   
                    
                   
                    font-size: 36px;
                    color: #FFFFFF;
                    letter-spacing: 0;
                    line-height: 42px;
                    
                    
                }
                

                iframe {
                    
                    max-width: 450px;
                    min-width: 320px;
                    margin-left: 1%;
                    margin-right: 1.5%;
                    margin-top: 2%;
                    /*margin-top: 4%;*/
                    display: flex;
                    border:none;
                    height: 232px;
                    
                    transform: unset;
                    padding: unset;
                    
                    /*padding-left: 3.9%;*/
                   
                    
                    
                }

                

                
                
                }
                
            
                
    
}

